@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inherits LayoutComponentBase
@inject IWebAssemblyHostEnvironment HostEnvironment
@inject IJSRuntime JsRuntime

@if (!HostEnvironment.IsDevelopment())
{
    <link rel="stylesheet" href="css/tailwind.css" />
}

<div class="page">
    <div class="">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && HostEnvironment.IsDevelopment())
        {
            await JsRuntime.InvokeVoidAsync("window.loadTailwindCdnJs");
        }
    }
}
