<MudNavMenu>
    <div>
        <div class="">
            <MudImage ObjectFit="ObjectFit.Cover" class="rounded-sm" Fluid="true" Src="..article/wwwroot/assets/Navbar/Logo.png" />
        </div>
        <div>
            
        </div>
        <div>

        </div>
    </div>
</MudNavMenu>