@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inherits LayoutComponentBase
@inject IWebAssemblyHostEnvironment HostEnvironment
@inject IJSRuntime JsRuntime

@if (!HostEnvironment.IsDevelopment())
{
    <link rel="stylesheet" href="css/tailwind.css" />
}

<div>
    <div class="">
        <NavMenu />
    </div>

    @* Required *@
    <MudThemeProvider />
    <MudPopoverProvider />

    @* Needed for dialogs *@
    <MudDialogProvider />

    @* Needed for snackbars *@
    <MudSnackbarProvider />

    <main>
        <article class="page">
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && HostEnvironment.IsDevelopment())
        {
            await JsRuntime.InvokeVoidAsync("window.loadTailwindCdnJs");
        }
    }
}
