<style>
    .custom-rounded-right {
        border-radius: 0 30% 0 30%;
    }

    .custom-rounded-left {
        border-radius: 30% 0 30% 0;
    }
</style>
<section class="min-h-[90vh]">
    <div class="px-12 py-14 flex flex-col items-center">
        <div class="text-center align-middle mb-8">
            <h1 class="text-5xl font-bold mb-4" style="font-family: 'Times New Roman', Times, serif;">
                <p>Enjoy Your Favorite</p>
                <span class="text-[#7F5539]">Coffee</span> with <span class="text-[#7F5539]">Cuppa.</span>
            </h1>
            <p class="text-sm mx-auto mb-6">
            <p>Welcome to Cuppa, Your ultimate coffee destination! Indulge in our carefully crafted brews</p>
            <p>savor the rich aromas, and enjoy a cozy ambiance perfect for coffee lovers. From classic</p>
            <p>espressos to delightful lattes, every cup is brewed to perfection. Join us for an exceptional</p>
            <p>coffee experience</p>
            </p>
            <button
                class="bg-[#7F5539] mt-4 text-white rounded-lg px-8 py-3 hover:bg-[#692d05] transition duration-300">
                Explore Now
            </button>
        </div>
        <div class="flex justify-center w-full space-x-4">
            <img src="assets/Landing/Coffee1.jpg" class="w-1/2 h-[250px] object-cover custom-rounded-right"
                alt="Coffee Image" />
            <img src="assets/Landing/Coffee2.jpg" class="w-1/2 h-[250px] object-cover custom-rounded-left"
                alt="Coffee Image" />
            <img src="assets/Landing/Coffee3.jpg" class="w-1/2 h-[250px] object-cover custom-rounded-right"
                alt="Coffee Image" />
            <img src="assets/Landing/Coffee4.jpg" class="w-1/2 h-[250px] object-cover custom-rounded-left"
                alt="Coffee Image" />
            <img src="assets/Landing/Coffee3.jpg" class="w-1/2 h-[250px] object-cover custom-rounded-right"
                alt="Coffee Image" />
            <img src="assets/Landing/Coffee5.jpg" class="w-1/2 h-[250px] object-cover custom-rounded-left"
                alt="Coffee Image" />
        </div>
    </div>
</section>
<section class="min-h-[100vh]">
    <div class="text-center py-2 align-middle mb-4">
        <h1 class="text-5xl font-bold mb-4" style="font-family: 'Times New Roman', Times, serif;">
            <p>Choose Your</p>
            <span class="text-[#7F5539]">Coffee</span> and <span class="text-[#7F5539]">Space!</span>
        </h1>
        <p class="text-sm mx-auto mb-6">
        <p>Since 2024, Cuppa has been serving over 25,000+ cups of coffee, offering a cozy and</p>
        <p>productive space for our valued customers</p>
        </p>
    </div>
    <div class="flex gap-2 px-8">
        <div class="flex flex-col w-full gap-4">
            <img src="assets/Landing/Space1.jpg" class="w-full h-[350px] object-cover rounded-md" />
            <img src="assets/Landing/Space2.jpg" class="w-full h-[350px] object-cover rounded-md" />
        </div>
        <div class="flex flex-col gap-4 w-full pt-28">
            <img src="assets/Landing/Space3.jpg" class="w-full h-[350px] object-cover rounded-md" />
            <img src="assets/Landing/Space4.jpg" class="w-full h-[350px] object-cover rounded-md" />
        </div>
    </div>
    <div class="mt-36 max-w-7xl mx-auto text-center px-12">
        <div class="flex justify-between items-center border-t-2 border-b-2 border-gray-400 p-8 ">
            <div class="flex-1">
                <h2 class="text-4xl font-bold text-black">25+</h2>
                <p class="text-black mt-2">Coffee Varient</p>
            </div>
            <div class="w-px border-l border-gray-500 h-16"></div>
            <div class="flex-1">
                <h2 class="text-4xl font-bold text-black">30+</h2>
                <p class="text-black mt-2">Meeting room</p>
            </div>
            <div class="w-px border-l border-gray-500 h-16"></div>
            <div class="flex-1">
                <h2 class="text-4xl font-bold text-black">20+</h2>
                <p class="text-black mt-2">Event Space</p>
            </div>
            <div class="w-px h-16 border-l border-gray-500"></div>
            <div class="flex-1">
                <h2 class="text-black font-bold text-4xl">15+</h2>
                <p class="text-black mt-2">Global Achievement</p>
            </div>
        </div>
    </div>
</section>
<section class="mt-24">
    <div class="text-center align-middle mb-14">
        <h1 class="text-5xl font-bold mb-4" style="font-family: 'Times New Roman', Times, serif;">
            <span>Our </span><span class="text-[#7F5539]">Products</span>
        </h1>
        <p class="text-sm mx-auto mb-6">
        <p>Enjoy premium blends from bold expressos to creamy lattes, each crafted from the finest beans</p>
        <p>for a delightful experience</p>
        </p>
    </div>
    <div class="flex justify-center items-center space-x-4 px-12">
        <div class="w-full max-w-xs overflow-hidden">
            <div class="w-full">
                <img src="assets/Products/Product1.jpg" aria-colspan="" alt="product image"
                    class="object-cover w-full h-48 custom-rounded-left">
            </div>
            <div class="p-4">
                <h3 class="text-lg font-bold"> Chocolate Latte </h3>
                <div class="flex items-center">
                    <span class="text-yellow-500 ml-2">★</span>
                    <p class="text-sm">4.5</p>
                </div>
                <p class="text-gray-600 mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <div class="flex justify-between items-center mt-4">
                    <h3 class="text-lg font-bold">Rs. 250</h3>
                    <button class="bg-gray-400 text-xl px-6 rounded-full">+</button>
                </div>
            </div>
        </div>
        <div class="w-full max-w-xs overflow-hidden">
            <div class="w-full">
                <img src="assets/Products/Product2.jpg" aria-colspan="" alt="product image"
                    class="object-cover w-full h-48 custom-rounded-right">
            </div>
            <div class="p-4">
                <h3 class="text-lg font-bold"> Mochha Latte </h3>
                <div class="flex items-center">
                    <span class="text-yellow-500 ml-2">★</span>
                    <p class="text-sm">4.5</p>
                </div>
                <p class="text-gray-600 mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <div class="flex justify-between items-center mt-4">
                    <h3 class="text-lg font-bold">Rs. 250</h3>
                    <button class="bg-gray-400 text-xl px-6 rounded-full">+</button>
                </div>
            </div>
        </div>
        <div class="w-full max-w-xs overflow-hidden">
            <div class="w-full">
                <img src="assets/Products/Product3.jpg" aria-colspan="" alt="product image"
                    class="object-cover w-full h-48 custom-rounded-left">
            </div>
            <div class="p-4">
                <h3 class="text-lg font-bold"> Latte </h3>
                <div class="flex items-center">
                    <span class="text-yellow-500 ml-2">★</span>
                    <p class="text-sm">4.5</p>
                </div>
                <p class="text-gray-600 mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <div class="flex justify-between items-center mt-4">
                    <h3 class="text-lg font-bold">Rs. 250</h3>
                    <button class="bg-gray-400 text-xl px-6 rounded-full">+</button>
                </div>
            </div>
        </div>
        <div class="w-full max-w-xs overflow-hidden">
            <div class="w-full">
                <img src="assets/Products/Product1.jpg" aria-colspan="" alt="product image"
                    class="object-cover w-full h-48 custom-rounded-right">
            </div>
            <div class="p-4">
                <h3 class="text-lg font-bold"> iced Latte </h3>
                <div class="flex items-center">
                    <span class="text-yellow-500 ml-2">★</span>
                    <p class="text-sm">4.5</p>
                </div>
                <p class="text-gray-600 mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <div class="flex justify-between items-center mt-4">
                    <h3 class="text-lg font-bold">Rs. 250</h3>
                    <button class="bg-gray-400 text-xl px-6 rounded-full">+</button>
                </div>
            </div>
        </div>
    </div>
</section>
