<style>
    .custom-rounded-right {
        border-radius: 0 40% 0 40%;
    }
    .custom-rounded-left {
        border-radius: 40% 0 40% 0;
    }
</style>

<div>
    <div>
        <h1>Enjoy Your Favorite <span>Coffee</span> with Cuppa.</h1>
        <p>
            Welcome to Cuppa, Your ultimate coffee destination! Indulge in our carefully crafted brews, savor the rich
            aromas, and enjoy a cozy ambiance perfect for coffee lovers. From classic espressos to delightful lattes,
            every cup is brewed to perfection. Join us for an exceptional coffee experience.
        </p>
        <button>
            Explore Now
        </button>
    </div>
    <div>
        <img src="assets/Landing/Coffee1.jpg" class="w-44 h-56 object-cover custom-rounded-right" alt="Coffee Image">
        <img src="assets/Landing/Coffee2.jpg" class="w-44 h-56 object-cover custom-rounded-left" alt="Coffee Image">
        <img src="assets/Landing/Coffee3.jpg" class="w-44 h-56 object-cover custom-rounded-right" alt="Coffee Image">
        <img src="assets/Landing/Coffee4.jpg" class="w-44 h-56 object-cover custom-rounded-left" alt="Coffee Image">
        <img src="assets/Landing/Coffee3.jpg" class="w-44 h-56 object-cover custom-rounded-right" alt="Coffee Image">
        <img src="assets/Landing/Coffee5.jpg" class="w-44 h-56 object-cover custom-rounded-left" alt="Coffee Image">
    </div>
</div>
